.card{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: 10rem;
}
pagination-controls{
color: #423c3c;
}
select{
width: 7rem;
padding: 4px;
border-radius: 30px;
background-color:transparent;

}
option{
    background-color:transparent;
    color: #423c3c;
}
input{
    border: none;
    border-bottom: 2px solid;
    background-color: ivory;
}