<h1>Employee Dashboard</h1>
  <form>
    <input  type="date" name="date"   [(ngModel)]="Date" (ngModelChange)="search()" >
  </form>
<table class="table table-border">
  <thead>
    <tr>
      <th (click)="sortId()">Id&nbsp;<i class="fa fa-sort"></i></th>
      <th>EmployeeName</th>
      <th>JoinDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate :{itemsPerPage:5, currentPage:p} ">
       <td>{{user.id}}</td>
       <td>{{user.Name}}</td>
       <td>{{user.Date}}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls> 
</table>