<h1>Employee Dashboard</h1>
<div class="card bg text-white">
  <form class="form-group">
  <!-- <input  type="date" name="date"   [(ngModel)]="Date" (ngModelChange)="search($event)" > -->
  <div class="select">
    <select  (change)="changeMethode($event)">
      <option *ngFor="let H of userheader" [value]="H.name">{{H.name}}</option>
    </select>
    <input  type="number"  *ngIf="selectedHeader == 'id'"     (blur)="SearchID($event)">
    <input  type="text"    *ngIf="selectedHeader == 'Name'"  (blur)="search($event)">
    <input  type="date"    *ngIf="selectedHeader == 'Date'"   (blur)="searchDate($event)" >
  </div>
</form>

  <div class="card-body">
    <ng-container >
      <table class="table" >
      <thead>
        <tr>
          <th (click)="sortId()">Id&nbsp;<i class="fa fa-sort-numeric-asc"></i></th>
          <th (click)="sort('Name')">EmployeeName<i class="fa fa-sort-alpha-asc"></i></th>
          <th (click)="sort('Date')">JoinDate<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users | orderBy: key: reverse   | paginate :{itemsPerPage:5, currentPage:p}">
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.Name}}</td>
          <td>{{user.Date}}</td>
        </tr>
      </tbody>
    </table>
    </ng-container>
    <pagination-controls  (pageChange)="p = $event"></pagination-controls> 
  </div>
</div>



