input{
    padding: 10px;
    width: 11em;
    text-align: left;
    background-color:#ffd369;
    border: none;
    border-radius:20px;
    font-size: 20px;
    color: rgb(14, 17, 17);
    
}
.card{
   padding: 30px;
   padding-left:30px;
   width: 80%;
}
.bg{
    background-color: #393e46;
}
.card-body {
    background-color: #222831;
}
table{
    color: #eeeeee;
}
tr:hover{
background-color: #805555;
}
h1{
    color: #eeeeee;
    text-align: center;
    padding: 20px;
}

